## Homework

### Set up the environment

You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can the instructions from
[06-environment.md](https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/01-intro/06-environment.md).

### Question 1

What's the version of Pandas that you installed?

You can get the version information using the `__version__` field:

In [2]:
import pandas as pd

In [42]:
import numpy as np

In [3]:
pd.__version__

'1.3.5'

### Getting the data 

For this homework, we'll use the California Housing Prices dataset. Download it from 
[here](https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv).

You can do it with wget:

In [3]:
%%bash
wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2023-09-16 13:32:42--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: ‘housing.csv’

     0K .......... .......... .......... .......... ..........  3% 1002K 1s
    50K .......... .......... .......... .......... ..........  7% 1.25M 1s
   100K .......... .......... .......... .......... .......... 10% 5.27M 1s
   150K .......... .......... .......... .......... .......... 14% 6.42M 1s
   200K .......... .......... .......... .......... .......... 17% 2.38M 1s
   250K .......... .......... .......... .......... .......... 21% 4.22M 1s
   300K .......... .......... .......... .......... .......... 25% 16.0M 0s
   350K .......... .......... .......... .......... .......... 28% 6.55M 0s
   400K .......... .......... .......... .......... .......... 32% 14.0M 0s
   450K .......... .......... .......... .......... .......... 35% 35.5M 0s
   500K .......... .......... .......... .......... .......... 39% 3.10M 0s
   550K .......... .......... .......... .......... .......... 43% 5.87M 0s
   600K .......... .......... .......... .......... .......... 46% 11.3M 0s
   650K .......... .......... .......... .......... .......... 50% 12.0M 0s
   700K .......... .......... .......... .......... .......... 53% 12.8M 0s
   750K .......... .......... .......... .......... .......... 57% 6.54M 0s
   800K .......... .......... .......... .......... .......... 61% 16.3M 0s
   850K .......... .......... .......... .......... .......... 64% 17.7M 0s
   900K .......... .......... .......... .......... .......... 68% 7.36M 0s
   950K .......... .......... .......... .......... .......... 71% 1.01M 0s
  1000K .......... .......... .......... .......... .......... 75% 4.40M 0s
  1050K .......... .......... .......... .......... .......... 79% 3.61M 0s
  1100K .......... .......... .......... .......... .......... 82% 3.75M 0s
  1150K .......... .......... .......... .......... .......... 86% 15.9M 0s
  1200K .......... .......... .......... .......... .......... 89% 6.15M 0s
  1250K .......... .......... .......... .......... .......... 93% 9.06M 0s
  1300K .......... .......... .......... .......... .......... 97% 4.02M 0s
  1350K .......... .......... .......... ..........           100% 3.26M=0.3s

2023-09-16 13:32:43 (4.04 MB/s) - ‘housing.csv’ saved [1423529/1423529]

Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [4]:
df_housing = pd.read_csv('housing.csv')

### Question 2

How many columns are in the dataset?

- 10
- 6560
- 10989
- 20640

In [5]:
df_housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
df_housing.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [6]:
number_of_columns = len(df_housing.columns)
print("Number of columns: ", number_of_columns)

Number of columns:  10

### Question 3

Which columns in the dataset have missing values?

- `total_rooms`
- `total_bedrooms`
- both of the above
- no empty columns in the dataset

In [7]:
df_housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [8]:
df_housing.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

`total_bedrooms` column has missing values

### Question 4

How many unique values does the `ocean_proximity` column have?

- 3
- 5
- 7
- 9

In [9]:
df_housing[['ocean_proximity']].value_counts()

ocean_proximity
<1H OCEAN          9136
INLAND             6551
NEAR OCEAN         2658
NEAR BAY           2290
ISLAND                5
dtype: int64

In [10]:
df_housing['ocean_proximity'].nunique()

5

`ocean_proximity` have `5` unique values.

### Question 5

What's the average value of the `median_house_value` for the houses located near the bay?

- 49433
- 124805
- 259212
- 380440

In [11]:
df_housing.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY

In [12]:
average_value = df_housing[df_housing['ocean_proximity'] == 'NEAR BAY']['median_house_value'].mean()

In [13]:
print(f" the average value of the median_house_value for the houses located near the bay is {average_value}")

 the average value of the median_house_value for the houses located near the bay is 259212.31179039303

### Question 6

1. Calculate the average of `total_bedrooms` column in the dataset.
2. Use the `fillna` method to fill the missing values in `total_bedrooms` with the mean value from the previous step.
3. Now, calculate the average of `total_bedrooms` again.
4. Has it changed?

Has it changed?

> Hint: take into account only 3 digits after the decimal point.

- Yes
- No

In [19]:
average_of_total_bedrooms = round(df_housing['total_bedrooms'].mean(), 3)

In [21]:
average_of_total_bedrooms

537.871

In [22]:
round(df_housing['total_bedrooms'].fillna(average_of_total_bedrooms).mean(), 3)

537.871

### Question 7

1. Select all the options located on islands.
2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the value of the last element of `w`?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

- -1.4812
- 0.001
- 5.6992
- 23.1233

In [39]:
islands = df_housing[df_housing['ocean_proximity'] == 'ISLAND']

In [40]:
X = islands[['housing_median_age', 'total_rooms', 'total_bedrooms']].values

In [43]:
XTX = np.dot(X.T, X)

In [49]:
y = np.array([950, 1300, 800, 1000, 1300])

In [50]:
XTX_inv = np.linalg.inv(XTX)
w = np.dot(np.dot(XTX_inv, X.T), y)

In [51]:
w

array([23.12330961, -1.48124183,  5.69922946])

## Submit the results

* Submit your results here: https://forms.gle/jneGM91mzDZ23i8HA
* You can submit your solution multiple times. In this case, only the last submission will be used 
* If your answer doesn't match options exactly, select the closest one


## Deadline

The deadline for submitting is 18 September 2022 (Monday), 23:00 CEST (Berlin time).

After that, the form will be closed.